/* || Reset CSS styling */

* {
	margin: 0;
	padding: 0;
}

/* || Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");

/* || Set root styling */
:root {
	--navbar-background: #320e3b;
	--navbar-text: #fdf0d5;
	--contactbar-background: #546a76;
	--main-text: black;
	--headings: #e36588;
	--text-font: "Imprima", sans-serif;
}

body {
	font-family: var(--main-text);
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* || Top Nav Bar */
.top-nav {
	display: flex;
	justify-content: space-between;
	background-color: var(--navbar-background);
	width: 100vw;
	height: 70px;
	position: fixed;
	top: 0px;
}

#soc-logo {
	height: 50px;
	width: auto;
}

.nav-left,
.nav-right {
	display: flex;
	flex-direction: row;
	color: var(--navbar-text);
	justify-content: center;
	align-items: center;
	font-family: var(--text-font);
	gap: 15px;
}

.nav-right a:link {
	color: var(--navbar-text);
	text-decoration: none;
}

.nav-right a:visited {
	color: var(--navbar-text);
	text-decoration: none;
}

#contact {
	margin-right: 10px;
}

.nav-left a:link {
	color: var(--navbar-text);
	text-decoration: none;
}

.nav-left a:visited {
	color: var(--navbar-text);
	text-decoration: none;
}

/* || Bottom contact bar */

.footer {
	display: flex;
	flex-direction: row;
	background-color: var(--contactbar-background);
	width: 100vw;
	height: 70px;
	position: fixed;
	bottom: 0;
	justify-content: space-between;
}

.bottom-left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom-right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-items: center;
	flex-wrap: nowrap;
	/* margin-right: 0;
	margin-left: 60vw; */
}

#email-container #email-icon {
	display: flex;
	max-height: 40px;
	width: auto;
}

#twitter-container #twitter-icon {
	display: flex;
	height: 50px;
	width: auto;
	padding-left: 15px;
}

#github-container #github-icon {
	display: flex;
	height: 70px;
	width: auto;
	padding: -10px;
}

#linkedin-container #linkedin-icon {
	display: flex;
	height: 55px;
	width: auto;
}
